{% block collection_widget %}
<h1>Detail</h1>
<div class="detailform" data-prototype="{{ form_widget(prototype)|e }}">
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
    {% endif %}
		{% for child in form.children %}
			<div class="detailblock">
			  {{ form_widget(child) }}
		    </div>
		{% endfor %}    
{% endspaceless %}
</div>
{% endblock collection_widget %}


{% block form_rows %}
{% spaceless %}
    {% for child in form %}
    	<div class="form_row">
        {{ form_row(child) }}
        </div>
    {% endfor %}
{% endspaceless %}
{% endblock form_rows %}

